
* {
  box-sizing: border-box; 
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 1;
  }

header, footer {
  background: #38596f;
  text-align: center;
  margin: 1;
}

label {
  padding:1em;
}

header, footer {
  color:white;
  padding: 1em;
}


.chart {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex: 1;

}

/* border color of bars and chart*/
.chart-bar,
.chart-container {
  list-style: none;
  border: 5px solid #000;
}


.chart-container {
  background-color: green;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  margin: 5px;
  min-height: 100px;
}

/* transition of color and width */
.chart-container div { 
  transition: width 2s, opacity 1s;
}

.chart-container div:hover { 
  opacity: 0.8; 
  width: 60px;

}

.chart .chart-bar {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.chart .chart-bar {
  background: #38596f;
  color: #ffffff;
  box-sizing: border-box;
}

.bar-chart .chart-container {
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
